* {
  box-sizing: border-box;
}
body {
  background-color: rgba(195, 27, 28, 1);
  width: 1440px;
  display: block;
  margin: 0 auto;
  font-family: "Normalidad";
  position: relative;
}
/*
body::after {
  content: "";
  position: absolute;
  width: 1439px;
  height: 927px;
  top: 0;
  left: 0;
  background-image: url("../images/1.png");
  opacity: 20%;
}
*/
h1 {
  font-family: "Normalidad";
  font-size: 40px;
  font-weight: 700;
}
p {
  font-family: "Normalidad";
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
}
/* СЕКЦИЯ-1 */
.section-1 {
  display: flex;
  background-image: url("../images/back1.svg");
  width: 1439px;
  height: 936px;
  position: relative;
}
.logo-s1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
}
.logo-s1-logo {
  position: absolute;
  top: 40px;
  left: 120px;
  width: 90px;
}
.line-s1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
}
.line-s1-line {
  position: absolute;
  top: 780px;
  left: 0px;
  width: 1440px;
}
.text-s1 {
  position: absolute;
  top: 820px;
  left: 120px;
  width: 1440px;
}
.text-s1-p {
  position: absolute;
  top: 50px;
  left: 0px;
}
/* СЕКЦИЯ-2 */
.section-2 {
  display: flex;
  background-image: url("../images/back2.svg");
  width: 1439px;
  height: 805px;
  position: relative;
}
/*
.section-2::after {
  content: "";
  position: absolute;
  width: 1439px;
  height: 805px;
  top: 0;
  left: 0;
  background-image: url("../images/2.png");
  opacity: 20%;
}
*/
.div-name-s2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
}
.name-s2 {
  display: block;
  position: absolute;
  top: 438px;
  left: 98px;
  color: rgba(195, 27, 28, 1);
  transform: rotate(-10deg);
  width: 300px;
}
.img-s2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
}
.img-s2-1-img {
  position: absolute;
  top: 340px;
  left: 750px;
  width: 300px;
}
.img-s2-2-img {
  position: absolute;
  top: 420px;
  left: 600px;
  width: 200px;
}
.img-s2-3-img {
  position: absolute;
  top: 450px;
  left: 400px;
  width: 240px;
}
.div-s2 {
  position: absolute;
  top: 425px;
  left: 1072px;
  width: 367px;
  height: 325px;
  background-color: black;
  border-top: 10px solid white;
  border-left: 10px solid white;
  border-bottom: 10px solid white;
}
#p1-s2 {
  display: block;
  position: absolute;
  top: 22px;
  left: 56px;
  color: white;
  width: 180px;
}
#p2-s2 {
  display: block;
  position: absolute;
  top: 140px;
  left: 56px;
  color: white;
  width: 180px;
}
/* СЕКЦИЯ-3 */
.section-3 {
  display: flex;
  background-image: url("../images/back23.svg");
  width: 1439px;
  height: 689px;
  position: relative;
}
/*
.section-3::after {
  content: "";
  position: absolute;
  width: 1439px;
  height: 805px;
  top: 0;
  left: 0;
  background-image: url("../images/3.png");
  opacity: 20%;
}
  */
.div-s3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 240px;
}
.h1-s3 {
  display: block;
  position: absolute;
  top: 43px;
  left: 180px;
  color: white;
  width: 500px;
}
.p1-s3 {
  display: block;
  position: absolute;
  top: 85px;
  left: 180px;
  color: white;
  width: 300px;
}
.p2-s3 {
  display: block;
  position: absolute;
  top: 43px;
  left: 1060px;
  color: white;
  width: 300px;
}
.h2-s3 {
  display: block;
  position: absolute;
  top: 73px;
  left: 1170px;
  color: white;
  width: 500px;
}
.p31-s3 {
  display: block;
  position: absolute;
  top: 145px;
  left: 180px;
  color: white;
  width: 30px;
}
.p32-s3 {
  display: block;
  position: absolute;
  top: 200px;
  left: 180px;
  color: white;
  width: 30px;
  line-height: 75px;
}
.span1-s3 {
  font-weight: 900;
  color: rgba(195, 27, 28, 1);
}
.span2-s3 {
  font-weight: 800;
  color: rgba(195, 27, 28, 1);
}
.span3-s3 {
  font-weight: 700;
  color: rgba(195, 27, 28, 1);
}
.span4-s3 {
  font-weight: 600;
  color: rgba(195, 27, 28, 1);
}
.span5-s3 {
  font-weight: 400;
  color: rgb(235, 17, 17);
}
.span6-s3 {
  font-weight: 100;
  color: rgb(235, 17, 17);
}
.p41-s3 {
  display: block;
  position: absolute;
  top: 145px;
  left: 300px;
  color: white;
  width: 30px;
}
.p42-s3 {
  display: block;
  position: absolute;
  top: 200px;
  left: 300px;
  color: white;
  width: 30px;
  line-height: 75px;
}
.p51-s3 {
  display: block;
  position: absolute;
  top: 145px;
  left: 845px;
  color: white;
  width: 30px;
}
.p52-s3 {
  display: block;
  position: absolute;
  top: 200px;
  left: 845px;
  color: white;
  width: 30px;
  line-height: 75px;
}
.p61-s3 {
  display: block;
  position: absolute;
  top: 145px;
  left: 1040px;
  color: white;
  width: 30px;
}
.p62-s3 {
  display: block;
  position: absolute;
  top: 200px;
  left: 1040px;
  color: white;
  width: 30px;
  line-height: 75px;
}
.p71-s3 {
  display: block;
  position: absolute;
  top: 145px;
  left: 1215px;
  color: white;
  width: 30px;
}
.p72-s3 {
  display: block;
  position: absolute;
  top: 200px;
  left: 1235px;
  color: white;
  width: 30px;
  line-height: 75px;
}
/* СЕКЦИЯ-4 */
.section-4 {
  display: flex;
  background-image: url("../images/back3.svg");
  width: 1439px;
  height: 729px;
  position: relative;
}
/*
.section-4::after {
  content: "";
  position: absolute;
  width: 1439px;
  height: 805px;
  top: 0;
  left: 0;
  background-image: url("../images/4.png");
  opacity: 20%;
}
  */
.lang1-s4 {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1439px;
}
.lang-img-s4 {
  position: absolute;
  top: 187px;
  left: 0px;
  width: 1439px;
}
.lang2-s4 {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 484px;
  text-align: center;
}
.tea-img-s4 {
  display: block;
  position: absolute;
  top: 60px;
  left: 430px;
  width: 484px;
}
.t1-s4 {
  display: block;
  position: absolute;
  top: 395px;
  left: 465px;
  width: 48px;
  font-size: 28px;
  font-weight: 600;
  line-height: 28px;
}
.t2-s4 {
  display: block;
  position: absolute;
  top: 523px;
  left: 772px;
  width: 48px;
  font-size: 28px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
  transform: rotate(15deg);
}
.t2-s4-id {
  font-size: 40px;
}
/* СЕКЦИЯ-5 */
.section-5 {
  display: flex;
  background-color: white;
  width: 1439px;
  height: 934px;
  position: relative;
}
/*
.section-5::after {
  content: "";
  position: absolute;
  width: 1439px;
  height: 934px;
  top: 0;
  left: 0;
  background-image: url("../images/5.svg");
  opacity: 20%;
}
  */
.h1-s5-div {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 400px;
}
.h1-s5 {
  display: block;
  position: absolute;
  top: 45px;
  left: 360px;
  width: 500px;
}
.table-s5 {
  display: inline-block;
  position: absolute;
  top: 110px;
  left: 340px;
  width: 760px;
  height: 760px;
  border: 10px solid black;
}
.tr-s5 {
  display: block;
  width: 745px;
  height: 82px;
}
.tr-s5 th {
  width: 82px;
  height: 82px;
  border: 7px solid black;
}
.tr-s5 th {
  text-align: center;
  padding-top: 23px;
}
#medal-s5 {
  display: block;
  position: absolute;
  top: -40px;
  left: 940px;
}
#medal-s5 .medal-s5-h1 {
  display: block;
  position: absolute;
  top: 95px;
  left: 60px;
  width: 200px;
  font-size: 28px;
  font-weight: 600;
  line-height: 28px;
  color: white;
}
#hands-s5 {
  display: block;
  position: absolute;
  top: 238px;
  left: 0px;
}
