* {
  box-sizing: border-box;
}
body {
  width: 1440px;
  display: block;
  margin: 0 auto;
  font-family: "Normalidad";
  position: relative;
}
/*
body::after {
  content: "";
  position: absolute;
  width: 1439px;
  height: 927px;
  top: 0;
  left: 0;
  background-image: url("../images/1.png");
  opacity: 20%;
}
*/
h1 {
  font-family: "Normalidad";
  font-size: 40px;
  font-weight: 700;
}
p {
  font-family: "Normalidad";
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
}
/* СЕКЦИЯ-1 */
.section-1 {
  display: flex;
  background-image: url("../images/back1.svg");
  width: 1439px;
  height: 936px;
  position: relative;
}
.logo-s1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
}
.logo-s1-logo {
  position: absolute;
  top: 40px;
  left: 120px;
  width: 90px;
}
.line-s1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
}
.line-s1-line {
  position: absolute;
  top: 780px;
  left: 0px;
  width: 1440px;
}
.text-s1 {
  position: absolute;
  top: 820px;
  left: 120px;
  width: 1440px;
}
.text-s1-p {
  position: absolute;
  top: 50px;
  left: 0px;
}
/* СЕКЦИЯ-2 */
.section-2 {
  display: flex;
  background-image: url("../images/back2.svg");
  width: 1439px;
  height: 805px;
  position: relative;
}
/*
.section-2::after {
  content: "";
  position: absolute;
  width: 1439px;
  height: 805px;
  top: 0;
  left: 0;
  background-image: url("../images/2.png");
  opacity: 20%;
}
*/
.div-name-s2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
}
.name-s2 {
  display: block;
  position: absolute;
  top: 438px;
  left: 98px;
  color: rgba(195, 27, 28, 1);
  transform: rotate(-10deg);
  width: 300px;
}
.img-s2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
}
.img-s2-1-img {
  position: absolute;
  top: 340px;
  left: 750px;
  width: 300px;
}
.img-s2-2-img {
  position: absolute;
  top: 420px;
  left: 600px;
  width: 200px;
}
.img-s2-3-img {
  position: absolute;
  top: 450px;
  left: 400px;
  width: 240px;
}
.div-s2 {
  position: absolute;
  top: 425px;
  left: 1072px;
  width: 367px;
  height: 325px;
  background-color: black;
  border-top: 10px solid white;
  border-left: 10px solid white;
  border-bottom: 10px solid white;
}
#p1-s2 {
  display: block;
  position: absolute;
  top: 22px;
  left: 56px;
  color: white;
  width: 180px;
}
#p2-s2 {
  display: block;
  position: absolute;
  top: 140px;
  left: 56px;
  color: white;
  width: 180px;
}
/* СЕКЦИЯ-3 */
.section-3 {
  display: flex;
  background-image: url("../images/back23.svg");
  width: 1439px;
  height: 689px;
  position: relative;
}
.section-3::after {
  content: "";
  position: absolute;
  width: 1439px;
  height: 805px;
  top: 0;
  left: 0;
  background-image: url("../images/3.png");
  opacity: 20%;
}
.div-s3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 240px;
}
.h1-s3 {
  display: block;
  position: absolute;
  top: 43px;
  left: 180px;
  color: white;
  width: 500px;
}
.p1-s3 {
  display: block;
  position: absolute;
  top: 85px;
  left: 180px;
  color: white;
  width: 300px;
}
.p2-s3 {
  display: block;
  position: absolute;
  top: 43px;
  left: 1060px;
  color: white;
  width: 300px;
}
.h2-s3 {
  display: block;
  position: absolute;
  top: 73px;
  left: 1170px;
  color: white;
  width: 500px;
}
